#options{height:16px;position:absolute;right:1em;top:1em;width:16px;z-index:20}#options .toggler{color:#ccc;display:inline-block;font-size:16px;position:absolute;right:1em;top:0;z-index:20}#options .toggler :hover{color:#fff}#options .editor{background-color:rgba(0,0,0,.85);border-color:rgba(255,255,255,.25);border-radius:.3em;color:#eee;display:none;font-size:24px;height:100%;padding:.5em;position:relative;right:2em;top:1em;width:100%}#options.opened{height:max(min(300px,75vh),50vh);width:max(min(500px,75vw),50vw)}#options.opened .editor{display:flex}#options.opened .error{color:red}
