#overlay{background-color:rgba(0,0,0,.75);display:none;height:100%;position:absolute;width:100%;z-index:100}#overlay .error{display:flex;flex-direction:column;height:100%;justify-content:center;width:100%}#overlay .error #msg{align-self:center;color:#fff}#overlay .error input{align-self:center;margin:16px}
